#foo {
    -skrollr-animation-name: animation1;
}

@-skrollr-keyframes animation1 {
    0 {transform: rotate(0deg);}
    200 {transform: rotate(360deg);}
}

/* colors

red: #ff6666;
lightred: #fff2f2;
purple1: #994cff;
purple2: #8136a5;
blue: #4ca5ff;
green: #a5ff4c;
yellow: #f4ff66;
orange: #ffb14c;
brown: #824734;

 */

html, body {
    font-family: "Lato", sans-serif;
    background: #191919;
    color: #191919;
}

a {
    text-decoration: none;
    color: initial;
}

a:hover, a:focus {
    text-decoration: none;
    color: initial;
}

ul {
    text-align: center;
    padding-left: 0;
    list-style-position: inside;
}

ul li {
    font-size: 16px;
    cursor: pointer;
    margin-top: -10px;
    margin-bottom: 10px;
    padding-top: 10px;
}

.logo h2 {
    font-size: 20px;
    font-weight: bold;
    color: orange;
    margin-top: 26px;
    margin-left: 10px;
}

.logo span {
    color: red;
}

.panel-heading {
    padding: 15px;
    text-align: center;
}

.panel-title,
.panel-body {
    color: #333333;
}

.menu-title,
.order,
.order-link {
    color: #e5e5e5;
}

.order {
	font-size: 24px;
	margin-top: 20px;
    margin-bottom: 10px;
	text-align: center;
	display: block;
}

.order-link {
    text-align: center;
    font-size: 18px;
}

.order-link {
	float: right;
}

.menu-title {
	font-family: "Dancing Script", cursive;
	font-weight: 700;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 20px;
}

#headingOne, .panel-drink-items {
    background: #8136a5;
}

#headingTwo, .panel-hors-items {
    background: #4ca5ff;
}

#headingThree, .panel-salad-items {
    background: #a5ff4c;
}

#headingFour, .panel-soup-items {
    background: #f4ff66;
}

#headingFive, .panel-fish-items {
    background: #ffb14c;
}

#headingSix, .panel-meat-items {
    background: #824734;
}

#headingSeven, .panel-dessert-items {
    background: #e50026;
}

.panel-body li:not(:last-child)::after {
    content: "";
    display: block;
    margin: 10px auto;
    height: 1px;
    background: #262626;
    text-align: center;
    width: 40%;
}

.panel-body li:last-child {
    padding-bottom: 10px;
}

.panel-body ul {
    position: relative;
}

.panel-body img {
    position: absolute;
    max-width: 40%;
    right: 0;
    border-radius: 5px;
}

.panel-body img:first-of-type {
    bottom: 100%;
    right: 0;
}

.panel-body img:nth-of-type(2) {
    top: -20px;
}

.panel-body img:nth-of-type(3) {
    top: 24%;
}

.panel-title {
	margin: 0 4px 0 0;
	font-size: 20px;
	display: inline-block;
}

.panel-heading span {
    font-size: 20px;
    float: right;
    color: #262626;
    transition: all 0.5s;
}

.rotate-caret {
    -webkit-transform: rotate(180deg); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
      -ms-transform: rotate(180deg); /* IE 9 */
          transform: rotate(180deg); /* IE 10, Fx 16+, Op 12.1+ */
}

ul li:hover,
.panel a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.panel-heading img {
    height: 20px;
    width: auto;
    margin-top: -6px;
}

.order-link:hover,
.order-link:hover .order {
    color: #333333;
}


/* === MEDIA QUERIES MOBILE-FIRST === */

/* Custom, iPhone Retina */
@media screen and ( min-width : 360px ) {


}

/* Extra Small Devices, Phones */
@media screen and ( min-width : 480px ) {

    .logo h2 {
    	font-size: 26px;
    }

    .order-link {
    	margin-right: 20px;
    }

    .menu-title {
    	margin-bottom: 30px;
    }
}

@media screen and ( min-width : 568px ) {

    .menu-title {
    	font-size: 40px;
    }

    .panel-title {
    	font-size: 24px;
    }

    .panel-heading img {
    	height: 24px;
    }

    .panel-heading span {
    	font-size: 24px;
    	margin-top: 2px;
    }

    ul li {
    	font-size: 18px;
    }
}

/* Small Devices, Tablets */
@media screen and ( min-width : 768px ) {


}

/* Medium Devices, Desktops */
@media screen and ( min-width : 992px ) and ( max-width : 1199px ) {


}

/* Large Devices, Wide Screens */
@media screen and ( min-width : 1200px ) {


}

/* === end media queries mobile-first === */
